<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dg.mall.system.mapper.SysMenuMapper">

    <resultMap id="menuMap" type="com.dg.mall.system.entity.SysMenu">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="parentId" column="parent_id"/>
        <result property="sort" column="sort"/>
        <result property="path" column="path "/>
        <result property="matchRoute" column="match_route "/>
        <result property="redirect" column="redirect "/>
        <result property="url" column="url "/>
        <result property="mark" column="mark "/>
        <result property="title" column="title "/>
        <result property="icon" column="icon "/>
        <result property="type" column="type"/>
        <result property="memo" column="memo"/>
        <result property="createdUser" column="created_user"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedUser" column="updated_user"/>
        <result property="updatedTime" column="updated_time"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <sql id="baseSql">m.name,m.parent_id,m.sort,m.path,m.type,m.memo,m.match_route,m.redirect,m.title,m.icon,
        m.created_user,m.created_time,m.updated_user,m.updated_time,m.is_deleted,m.url,m.mark</sql>

    <select id="selectUrlsByRoleId" resultType="com.dg.mall.system.entity.SysMenu">
        select  distinct m.id,<include refid="baseSql"></include>
        from dg_sys_role_menu rm left join dg_sys_menu m on m.id = rm.menu_id
        where m.is_deleted = '0'
        and rm.role_id in
        <foreach item="item" index="index" collection="roleIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>