<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dg.mall.system.mapper.SysOperationLogMapper">

    <select id="getOperationLogList" resultType="com.dg.mall.system.entity.SysOperationLog">
        select
        id, user_name as userName, phone, ip_address as ipAddress, remark, create_time as createTime
        from
        dg_sys_operation_log
        where 1=1
        <if test="logQueryParam.startTime !=null">
            and create_time &gt;= #{logQueryParam.startTime}
        </if>
        <if test="logQueryParam.endTime !=null">
            and create_time &lt;= #{logQueryParam.endTime}
        </if>
        <if test="logQueryParam.userId !=null">
            and user_id =#{logQueryParam.userId}
        </if>
        <if test="logQueryParam.keyWords != null">
            and (user_name like CONCAT('%',#{logQueryParam.keyWords},'%')
            or phone like CONCAT('%',#{logQueryParam.keyWords},'%'))
        </if>
        order by create_time desc
    </select>
</mapper>